<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create New Server</title>
    {% include 'head.html' %}

    <script>
        $(document).ready(function() {
            initButtonClickListeners();
            initSettingForms();
            disableAllGameplaySettings (true)
            $("#server_setup_game_server_ServerPassword").prop("disabled", true);

            function initButtonClickListeners ()
            {
                $("#server_setup_gameplay_bOverrideDefaults").change(function() {
                    disableAllGameplaySettings(!($(this).is(":checked")));
                });
                $("#server_setup_game_server_bUseServerPassword").change (function() {
                    $("#server_setup_game_server_ServerPassword").prop("disabled", !($(this).is(":checked")));
                });
            }
            function disableAllGameplaySettings (disabled)
            {
                $("#server_setup_gameplay_RecoilMultiplier").prop("disabled", disabled);
                $("#server_setup_gameplay_SpreadMultiplier").prop("disabled", disabled);
                $("#server_setup_gameplay_bCanSprint").prop("disabled", disabled);
                $("#server_setup_gameplay_MovementSpeedMultiplier").prop("disabled", disabled);
                $("#server_setup_gameplay_CharacterDamageMultiplier").prop("disabled", disabled);
                $("#server_setup_gameplay_CharacterHealthMultiplier").prop("disabled", disabled);
                $("#server_setup_gameplay_LandingSprintDelay").prop("disabled", disabled);
                $("#server_setup_gameplay_LandingJumpDelay").prop("disabled", disabled);
                $("#server_setup_gameplay_bForceFreeAimMultiplier").prop("disabled", disabled);
                $("#server_setup_gameplay_ADSFreeAimMultiplier").prop("disabled", disabled);
                $("#server_setup_gameplay_FreeAimMultiplier").prop("disabled", disabled);
                $("#server_setup_gameplay_ADSSpeedMultiplier").prop("disabled", disabled);
                $("#server_setup_gameplay_RecoilMultiplier").prop("disabled", disabled);
                $("#server_setup_gameplay_ReloadSpeedMultiplier").prop("disabled", disabled);
                $("#server_setup_gameplay_SmoothAimMultiplier").prop("disabled", disabled);
                $("#server_setup_gameplay_CanADSInNightVision").prop("disabled", disabled);
                $("#server_setup_gameplay_bCanBracedAim").prop("disabled", disabled);
                $("#server_setup_gameplay_bForceCanReloadWhileAiming").prop("disabled", disabled);
                $("#server_setup_gameplay_bForceNoReloadWhileSprinting").prop("disabled", disabled);
                $("#server_setup_gameplay_bUseHeightOverBore").prop("disabled", disabled);
            }
            function initSettingForms ()
            {
                initFormSubmitButton();
            }
            function initFormSubmitButton () 
            {
                $("#create_server_form").submit (function (event) {
                    event.preventDefault();

                    console.log ("Check");

                    if (!inputValidation())
                    {
                        createAlertToast ("Error", "Please make sure all these fields are filled in: <b>Server Name, Install Directory, Port, Query Port</b>, <b>Server Display Name</b>");
                        return;
                    }

                    actionURL = "/submit_new_server"

                    var formData = $(this).serialize();
                    var keyValuePairs = formData.split('&');
                    var jsonObject = {};

                    keyValuePairs.forEach(function(pair) 
                    {
                        var keyValue = pair.split('=');
                        jsonObject[keyValue[0]] = decodeURIComponent(keyValue[1]);
                    });

                    jsonObject.bOverrideDefaults = $("#server_setup_gameplay_bOverrideDefaults").is(":checked");
                    jsonObject.bUseServerPassword = $("#server_setup_game_server_bUseServerPassword").is (":checked");
                    jsonObject.shared_install_dir = $("#server_setup_management_sharedDirectory").is (":checked");

                    jsonObject['admins'] = jsonObject['admins'].split ('\r\n');
                    jsonObject['owners'] = jsonObject['owners'].split ('\r\n');
                    jsonObject['whitelist'] = jsonObject['whitelist'].split ('\r\n');

                    $.ajax ({
                        url: actionURL,
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify(jsonObject),
                        success: function (response) {
                            window.location.assign ("/server/" + jsonObject['server_name']);
                        },
                        error: function (xhr, status, error) {
                            createAlertToast ("Error", "Error applying changes: " + error);
                            console.error (error);
                        }
                    });
                });
                function inputValidation ()
                {
                    var servername = $("#server_setup_management_serverName").val();
                    var install_dir = $("#server_setup_management_installDir").val();
                    var port = $("#server_setup_management_port").val();
                    var queryport = $("#server_setup_management_queryPort").val();
                    var displayname = $("#server_setup_game_server_ServerName").val();
                    var inputempty = servername == "" || install_dir == "" || port == "" || queryport == "" || displayname == "";

                    return !inputempty;
                }
            }
            function createAlertToast (title, body)
            {
                var toastHTML = `
                    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <strong class="me-auto">${title}</strong>
                        <small class="text-muted">just now</small>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        ${body}
                    </div>
                    </div>
                `;
                var $toast = $(toastHTML);
                $('#toast-container').append($toast);

                var toast = new bootstrap.Toast($toast[0], {
                    autohide: true,
                    delay: 5000
                });

                toast.show();
            }
        });
    </script>
</head>
<body>
    {% include 'header.html' %}

    <div id="toast-container" class="position-fixed top-0 end-0 p-3" style="z-index: 11"></div>

    <div class="container">
        <h1>Create New Server</h1>

        <div class="container">
            <div class="alert alert-warning" role="alert">
                Make sure to have installation of an SCP 5k Dedicated Server ready. <a href="{{ url_for ('steamcmd_guide')}}" class="link-primary">Click here for a guide to installing a server using SteamCMD</a>
            </div>
        </div>
        </div>
        <div class="card">
            <div class="card-header">
                Server Settings
            </div>
            <div class="card-body"></div>
                <div class="accordion" id="server_setup_accordion">
                    <form id="create_server_form" method="POST" class="bg-light" novalidate>
                        <div class="accordion-item" id="server_setup_management_accordion">
                            <h2 class="accordion-header" id="server_setup_management_accordion_header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#server_setup_management_accordion_collapse">
                                    General Server Settings
                                </button>
                            </h2>
                            <div id="server_setup_management_accordion_collapse" class="accordion-collapse collapse p-4" data-bs-parent="#server_setup_accordion">
                                <div class="row mb-1 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_management_serverName" class="col-form-label">Server Name</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="server_setup_management_serverName" name="server_name" placeholder="Server1" required>
                                    </div>
                                </div>

                                <div class="row mb-1 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_management_installDir" class="col-form-label">Server Installation Directory</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="server_setup_management_installDir" name="install_dir" placeholder="C:/SteamCMD/steamapps/common/SCP Pandemic Dedicated Server" data-bs-toggle="tooltip" data-bs-placement="top" title="path to the root folder of the server install (SCP Pandemic Dedicated Server)" required>
                                    </div>
                                </div>

                                <div class="row mb-1 g-3 align-items-center">
                                    <div class="col-2">
                                        <label for="server_setup_management_sharedDirectory" class="col-form-label">Shared Install Directory</label>
                                    </div>
                                    <div class="col-1">
                                        <input type="checkbox" class="form-check-input" id="server_setup_management_sharedDirectory" name="shared_install_dir">
                                    </div>
                                    <div class="col">
                                        <div class="alert alert-primary d-flex align-items-center" role="alert">
                                            <img src="{{ url_for('static', filename='icon_info.svg') }}" class="bi flex-shrink-0 me-2" width="24" height="24">
                                            <div>
                                                Check this box if the specified install directory is the same directory being used for multiple servers.<br>
                                                The server will share the same whitelist, admin list, ban list, owner list and MOTD messages with every server using the specified directory.
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-1 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_management_startingGamemode" class="col-form-label">Starting Gamemode</label>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-select" id="server_setup_management_startingGamemode" name="starting_gamemode">
                                            <option value="Area12_PersistentLevel">Area 12 - Chapter 1</option>
                                            <option value="M_Area12_Part2">Area 12 - Chapter 2</option>
                                            <option value="M_Area12_Part3">Area 12 - Chapter 3</option>
                                            <option value="M_Antarctica">Antarctica</option>
                                            <option value="M_HuntSweden">Axion Raid (Hunt)</option>
                                            <option value="M_WaveSurvival">Wave Survival</option>
                                            <option value="M_Sewer_CanalPVP">Canals PvP</option>
                                            <option value="/Game/SCPPandemic/Maps/Hunt/M_HuntSweden?Game=/Game/SCPPandemic/Blueprints/Gameplay/GM_PVPGameMode.GM_PVPGameMode_C">Axiom PvP</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row mb-1 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_management_maxReloads" class="col-form-label">Max Reloads Before Restart</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="server_setup_management_maxReloads" name="max_reloads" placeholder="7" value="7">
                                    </div>
                                </div>

                                <div class="row mb-1 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_management_restrictedGamemode" class="col-form-label">Only Play This Gamemode</label>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-select" id="server_setup_management_restrictedGamemode" name="restricted_gamemode">
                                            <option value="">No Restriction</option>
                                            <!-- <option value="Area12_PersistentLevel">Area 12 Campaign</option> -->
                                            <option value="M_Antarctica">Antarctica</option>
                                            <option value="M_HuntSweden">Axion Raid (Hunt)</option>
                                            <option value="M_WaveSurvival">Wave Survival</option>
                                            <option value="M_Sewer_CanalPVP">Canals PvP</option>
                                            <option value="/Game/SCPPandemic/Maps/Hunt/M_HuntSweden?Game=/Game/SCPPandemic/Blueprints/Gameplay/GM_PVPGameMode.GM_PVPGameMode_C">Axiom PvP</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row mb-1 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_management_port" class="col-form-label">Server Port</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="server_setup_management_port" name="port" placeholder="7777" required>
                                    </div>
                                </div>

                                <div class="row mb-1 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_management_queryPort" class="col-form-label">Steam Query Port</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="server_setup_management_queryPort" name="queryport" placeholder="27015" required>
                                    </div>
                                </div>

                                <div class="mb-1 form-floating">
                                    <textarea class="form-control" placeholder="Additional Launch Args" id="server_setup_management_args" name="server_args" rows="4"></textarea>
                                    <label for="server_setup_management_args" class="floatingTextArea">Additional Launch Arguments (One per line, leave blank unless you know what you're doing)</label>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item" id="server_setup_players_accordion">
                            <h2 class="accordion-header" id="server_setup_players_accordion_header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#server_setup_players_accordion_collapse">
                                    Admins, Owners and Whitelist
                                </button>
                            </h2>
                            <div id="server_setup_players_accordion_collapse" class="accordion-collapse collapse p-4" data-bs-parent="#server_setup_accordion">
                                <div class="mb-1 form-floating">
                                    <textarea class="form-control" placeholder="Steam User ID" id="server_setup_players_admins" name="admins" rows="4"></textarea>
                                    <label for="server_setup_players_admins" class="floatingTextArea">Admins, one per line</label>
                                </div>
                                <div class="mb-1 form-floating">
                                    <textarea class="form-control" placeholder="Steam User ID" id="server_setup_players_owners" name="owners" rows="4"></textarea>
                                    <label for="server_setup_players_owners" class="floatingTextArea">Owners, one per line</label>
                                </div>
                                <div class="mb-1 form-floating">
                                    <textarea class="form-control" placeholder="Steam User ID" id="server_setup_players_whitelist" name="whitelist" rows="4"></textarea>
                                    <label for="server_setup_players_whitelist" class="floatingTextArea">Whitelist, one per line</label>
                                </div>                         
                            </div>
                        </div>
                        <div class="accordion-item" id="server_setup_game_server_accordion">
                            <h2 class="accordion-header" id="server_setup_game_server_accordion_header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#server_setup_game_server_collapse">
                                    Server Settings
                                </button>
                            </h2>
                            <div id="server_setup_game_server_collapse" class="accordion-collapse collapse p-4" data-bs-parent="#server_setup_accordion">
                                <div class="row mb-1 g-3 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_game_server_ServerName" class="col-form-label">Server Display Name</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="server_setup_game_server_ServerName" name="ServerName" placeholder="SCP 5k Server" required>
                                    </div>
                                </div>

                                <div class="row mb-1 g-3 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_game_server_ZombieSpawnAmount" class="col-form-label">Zombie Spawn Amount</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="server_setup_game_server_ZombieSpawnAmount" name="ZombieSpawnAmount" placeholder="1.0" value="1.0">
                                    </div>
                                </div>
                            
                                <div class="row mb-1 g-3 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_game_server_RespawnTime" class="col-form-label">Respawn Time</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="server_setup_game_server_RespawnTime" name="RespawnTime" placeholder="15" value="15">
                                    </div>
                                </div>
                            
                                <div class="row mb-1 g-3 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_game_server_MaxZombieCount" class="col-form-label">Max Zombie Count</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="server_setup_game_server_MaxZombieCount" name="MaxZombieCount" placeholder="100" value="100">
                                    </div>
                                </div>
                            
                                <div class="row mb-1 g-3 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_game_server_RoundTimer" class="col-form-label">Round Timer (For PvP Servers)</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="server_setup_game_server_RoundTimer" name="RoundTimer" placeholder="0" value="0">
                                    </div>
                                </div>
                            
                                <div class="row mb-1 g-3 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_game_server_ResetZombieSpawners" class="col-form-label">Reset Zombie Spawners</label>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-select" id="server_setup_game_server_ResetZombieSpawners" name="ResetZombieSpawners">
                                            <option value="True">True</option>
                                            <option value="False" selected>False</option>
                                        </select>
                                    </div>
                                </div>
                            
                                <div class="row mb-1 g-3 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_game_server_ZombieRespawnTime" class="col-form-label">Zombie Respawn Time</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="server_setup_game_server_ZombieRespawnTime" name="ZombieRespawnTime" placeholder="600" value="600">
                                    </div>
                                </div>
                                
                                <div class="row mb-1 g-3 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_game_server_DisableGodmode" class="col-form-label">Disable Godmode</label>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-select" id="server_setup_game_server_DisableGodmode" name="DisableGodmode">
                                            <option value="True">True</option>
                                            <option value="False" selected>False</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-1 g-3 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_game_server_ScoreToWin" class="col-form-label">Score To Win</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="server_setup_game_server_ScoreToWin" name="ScoreToWin" placeholder="25" value="25">
                                    </div>
                                </div>
                                
                                <div class="row mb-1 g-3 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_game_server_MaxPlayerCount" class="col-form-label">Max Player Count</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="number" class="form-control" id="server_setup_game_server_MaxPlayerCount" name="MaxPlayerCount" placeholder="4" value="4" max="16" min="2">
                                    </div>
                                </div>
                                
                                <div class="row mb-1 g-3 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_game_server_bRestartServerEachGame" class="col-form-label">Restart Server Each Game</label>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-select" id="server_setup_game_server_bRestartServerEachGame" name="bRestartServerEachGame">
                                            <option value="True">True</option>
                                            <option value="False" selected>False</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="row mb-1 g-3 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_game_server_bUseSeamlessTravel" class="col-form-label">Use Seamless Travel</label>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-select" id="server_setup_game_server_bUseSeamlessTravel" name="bUseSeamlessTravel">
                                            <option value="True" selected>True</option>
                                            <option value="False">False</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="row mb-1 g-3 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_game_server_bAnyoneUseAdminCam" class="col-form-label">Anyone Use Admin Cam</label>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-select" id="server_setup_game_server_bAnyoneUseAdminCam" name="bAnyoneUseAdminCam">
                                            <option value="True">True</option>
                                            <option value="False" selected>False</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="row mb-1 g-3 align-items-center">
                                    <div class="col-md-4 input-group">
                                        <span class="input-group-text">Server Password</span>
                                        <div class="input-group-text">
                                            <input class="form-check-input mt-0" id="server_setup_game_server_bUseServerPassword" name="bUseServerPassword" type="checkbox">
                                        </div>
                                        <input type="text" class="form-control" id="server_setup_game_server_ServerPassword" name="ServerPassword">
                                    </div>
                                </div>
                                

                                <div class="row mb-1 g-3 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_game_server_MaxGameBans" class="col-form-label">Max Game Bans</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="server_setup_game_server_MaxGameBans" name="MaxGameBans" placeholder="2" value="2">
                                    </div>
                                </div>
                                
                                <div class="row mb-1 g-3 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_game_server_MaxVACBans" class="col-form-label">Max VAC Bans</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="server_setup_game_server_MaxVACBans" name="MaxVACBans" placeholder="2" value="2">
                                    </div>
                                </div>
                                
                                <div class="row mb-1 g-3 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_game_server_MinDaysSinceLastBan" class="col-form-label">Min Days Since Last Ban</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="server_setup_game_server_MinDaysSinceLastBan" name="MinDaysSinceLastBan" placeholder="150" value="150">
                                    </div>
                                </div>
                                
                                <div class="row mb-1 g-3 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_game_server_bDenyVACBan" class="col-form-label">Deny VAC Ban</label>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-select" id="server_setup_game_server_bDenyVACBan" name="bDenyVACBan">
                                            <option value="True" selected>True</option>
                                            <option value="False">False</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="row mb-1 g-3 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_game_server_bDenyGameBan" class="col-form-label">Deny Game Ban</label>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-select" id="server_setup_game_server_bDenyGameBan" name="bDenyGameBan">
                                            <option value="True" selected>True</option>
                                            <option value="False">False</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="row mb-1 g-3 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_game_server_bDenyCommunityBan" class="col-form-label">Deny Community Ban</label>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-select" id="server_setup_game_server_bDenyCommunityBan" name="bDenyCommunityBan">
                                            <option value="True" selected>True</option>
                                            <option value="False">False</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="row mb-1 g-3 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_game_server_bUseWhitelist" class="col-form-label">Use Whitelist</label>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-select" id="server_setup_game_server_bUseWhitelist" name="bUseWhitelist">
                                            <option value="True">True</option>
                                            <option value="False" selected>False</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="row mb-1 g-3 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_game_server_bFriendsOnly" class="col-form-label">Friends Only</label>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-select" id="server_setup_game_server_bFriendsOnly" name="bFriendsOnly">
                                            <option value="True">True</option>
                                            <option value="False" selected>False</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="row mb-1 g-3 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_game_server_bUseLAN" class="col-form-label">Use LAN</label>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-select" id="server_setup_game_server_bUseLAN" name="bUseLAN">
                                            <option value="True">True</option>
                                            <option value="False" selected>False</option>
                                        </select>
                                    </div>
                                </div>
                                
                                
                                <div class="row mb-1 g-3 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_game_server_EmptyServerRestartTime" class="col-form-label">Empty Server Restart Time</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="server_setup_game_server_EmptyServerRestartTime" name="EmptyServerRestartTime" placeholder="30" value="30">
                                    </div>
                                </div>
                                
                                <div class="row mb-1 g-3 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_game_server_AFKTimer" class="col-form-label">AFK Timer</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="server_setup_game_server_AFKTimer" name="AFKTimer" placeholder="300" value="300">
                                    </div>
                                </div>
                                
                                <div class="row mb-1 g-3 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_game_server_bShouldAdvertise" class="col-form-label">Should Advertise</label>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-select" id="server_setup_game_server_bShouldAdvertise" name="bShouldAdvertise">
                                            <option value="True" selected>True</option>
                                            <option value="False">False</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="row mb-1 g-3 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_game_server_bAdminsAlwaysJoin" class="col-form-label">Admins Always Join</label>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-select" id="server_setup_game_server_bAdminsAlwaysJoin" name="bAdminsAlwaysJoin">
                                            <option value="True" selected>True</option>
                                            <option value="False">False</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="row mb-1 g-3 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_game_server_bDevsAlwaysJoin" class="col-form-label">Devs Always Join</label>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-select" id="server_setup_game_server_bDevsAlwaysJoin" name="bDevsAlwaysJoin">
                                            <option value="True" selected>True</option>
                                            <option value="False">False</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="row mb-1 g-3 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_game_server_bTeamDamageEnabled" class="col-form-label">Team Damage Enabled</label>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-select" id="server_setup_game_server_bTeamDamageEnabled" name="bTeamDamageEnabled">
                                            <option value="True">True</option>
                                            <option value="False" selected>False</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="row mb-1 g-3 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_game_server_TeamDamageReflection" class="col-form-label">Team Damage Reflection</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="server_setup_game_server_TeamDamageReflection" name="TeamDamageReflection" placeholder="0" value="0.0">
                                    </div>
                                </div>                          
                            </div>
                        </div>
                        <div class="accordion-item" id="server_setup_gameplay_accordion">
                            <h2 class="accordion-header" id="server_setup_gameplay_accordion_header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#server_setup_gameplay_collapse">
                                    Gameplay Settings
                                </button>
                            </h2>
                            <div id="server_setup_gameplay_collapse" class="accordion-collapse collapse p-4" data-bs-parent="#server_setup_accordion">
                                <div class="row mb-1 g-3 align-items-center">
                                    <div class="col-auto">
                                        <label for="server_setup_gameplay_bOverrideDefaults" class="col-form-label">Enable Overrides</label>
                                    </div>
                                    <div class="col-auto">
                                        <input type="checkbox" class="form-check-input" id="server_setup_gameplay_bOverrideDefaults" name="bOverrideDefaults">
                                    </div>
                                </div>
                                
                                <div class="row mb-1 g-3 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_gameplay_RecoilMultiplier" class="col-form-label">Recoil Multiplier</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="server_setup_gameplay_RecoilMultiplier" name="RecoilMultiplier" placeholder="1" value="1.0">
                                    </div>
                                </div>
                                
                                <div class="row mb-1 g-3 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_gameplay_SpreadMultiplier" class="col-form-label">Spread Multiplier</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="server_setup_gameplay_SpreadMultiplier" name="SpreadMultiplier" placeholder="1" value="1.0">
                                    </div>
                                </div>
                                
                                <div class="row mb-1 g-3 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_gameplay_bCanSprint" class="col-form-label">Can Sprint</label>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-select" id="server_setup_gameplay_bCanSprint" name="bCanSprint">
                                            <option value="True" selected>True</option>
                                            <option value="False">False</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="row mb-1 g-3 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_gameplay_MovementSpeedMultiplier" class="col-form-label">Movement Speed Multiplier</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="server_setup_gameplay_MovementSpeedMultiplier" name="MovementSpeedMultiplier" placeholder="1" value="1.0">
                                    </div>
                                </div>
                                
                                <div class="row mb-1 g-3 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_gameplay_CharacterDamageMultiplier" class="col-form-label">Character Damage Multiplier</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="server_setup_gameplay_CharacterDamageMultiplier" name="CharacterDamageMultiplier" placeholder="1" value="1.0">
                                    </div>
                                </div>
                                
                                <div class="row mb-1 g-3 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_gameplay_CharacterHealthMultiplier" class="col-form-label">Character Health Multiplier</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="server_setup_gameplay_CharacterHealthMultiplier" name="CharacterHealthMultiplier" placeholder="1" value="1.0">
                                    </div>
                                </div>
                                
                                <div class="row mb-1 g-3 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_gameplay_LandingSprintDelay" class="col-form-label">Landing Sprint Delay</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="server_setup_gameplay_LandingSprintDelay" name="LandingSprintDelay" placeholder="0.4" value="0.4">
                                    </div>
                                </div>
                                
                                <div class="row mb-1 g-3 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_gameplay_LandingJumpDelay" class="col-form-label">Landing Jump Delay</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="server_setup_gameplay_LandingJumpDelay" name="LandingJumpDelay" placeholder="0.75" value="0.75">
                                    </div>
                                </div>
                                
                                <div class="row mb-1 g-3 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_gameplay_bForceFreeAimMultiplier" class="col-form-label">Force Free Aim Multiplier</label>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-select" id="server_setup_gameplay_bForceFreeAimMultiplier" name="bForceFreeAimMultiplier">
                                            <option value="True">True</option>
                                            <option value="False" selected>False</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="row mb-1 g-3 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_gameplay_FreeAimMultiplier" class="col-form-label">Free Aim Multiplier</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="server_setup_gameplay_FreeAimMultiplier" name="FreeAimMultiplier" placeholder="0.2" value="0.2">
                                    </div>
                                </div>
                                
                                <div class="row mb-1 g-3 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_gameplay_ADSFreeAimMultiplier" class="col-form-label">ADS Free Aim Multiplier</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="server_setup_gameplay_ADSFreeAimMultiplier" name="ADSFreeAimMultiplier" placeholder="0" value="0.0">
                                    </div>
                                </div>
                                
                                <div class="row mb-1 g-3 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_gameplay_bForceCanReloadWhileAiming" class="col-form-label">Force Can Reload While Aiming</label>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-select" id="server_setup_gameplay_bForceCanReloadWhileAiming" name="bForceCanReloadWhileAiming">
                                            <option value="True">True</option>
                                            <option value="False" selected>False</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="row mb-1 g-3 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_gameplay_bForceNoReloadWhileSprinting" class="col-form-label">Force No Reload While Sprinting</label>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-select" id="server_setup_gameplay_bForceNoReloadWhileSprinting" name="bForceNoReloadWhileSprinting">
                                            <option value="True">True</option>
                                            <option value="False" selected>False</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="row mb-1 g-3 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_gameplay_ReloadSpeedMultiplier" class="col-form-label">Reload Speed Multiplier</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="server_setup_gameplay_ReloadSpeedMultiplier" name="ReloadSpeedMultiplier" placeholder="1" value="1.0">
                                    </div>
                                </div>
                                
                                <div class="row mb-1 g-3 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_gameplay_ADSSpeedMultiplier" class="col-form-label">ADS Speed Multiplier</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="server_setup_gameplay_ADSSpeedMultiplier" name="ADSSpeedMultiplier" placeholder="1" value="1.0">
                                    </div>
                                </div>
                                
                                <div class="row mb-1 g-3 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_gameplay_SmoothAimMultiplier" class="col-form-label">Smooth Aim Multiplier</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="server_setup_gameplay_SmoothAimMultiplier" name="SmoothAimMultiplier" placeholder="1" value="1.0">
                                    </div>
                                </div>
                                
                                <div class="row mb-1 g-3 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_gameplay_CanADSInNightVision" class="col-form-label">Can ADS In Night Vision</label>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-select" id="server_setup_gameplay_CanADSInNightVision" name="CanADSInNightVision">
                                            <option value="True">True</option>
                                            <option value="False" selected>False</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="row mb-1 g-3 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_gameplay_bCanBracedAim" class="col-form-label">Can Braced Aim</label>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-select" id="server_setup_gameplay_bCanBracedAim" name="bCanBracedAim">
                                            <option value="True" selected>True</option>
                                            <option value="False">False</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="row mb-1 g-3 align-items-center">
                                    <div class="col-md-4">
                                        <label for="server_setup_gameplay_bUseHeightOverBore" class="col-form-label">Use Height Over Bore</label>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-select" id="server_setup_gameplay_bUseHeightOverBore" name="bUseHeightOverBore">
                                            <option value="True">True</option>
                                            <option value="False" selected>False</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-1 g-3 align-items-center">
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-success m-3">Create Server</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>        
    </div>
</body>
</html>
