<!DOCTYPE html>
<html lang="en">
<head>
    <title>Server Monitor</title>
    {% include 'head.html' %}
    <script>
        $(document).ready(function() {
            function update_server_info (event)
            {
                var server_info = JSON.parse (event.data);
                Object.values(server_info).forEach(function(server) {
                    // Update current users count
                    $('#' + server.server_name_encoded + '-current-users').text(Object.keys(server.current_users).length);

                    $('#' + server.server_name_encoded + '-name-text').text (server.server_name);
                    
                    // Update status badge
                    var badge_class = {
                        'Creating': 'bg-info',
                        'Offline': 'bg-secondary',
                        'Crashed': 'bg-danger',
                        'Suspended': 'bg-info',
                        'Stopping': 'bg-warning',
                        'Waking': 'bg-info',
                        'Starting': 'bg-warning',
                        'Restarting': 'bg-warning',
                        'Idle': 'bg-secondary',
                        'Active': 'bg-success',
                        'Game Ended': 'bg-success',
                        'Game Starting': 'bg-success'
                    }[server.server_status];

                    $('#' + server.server_name_encoded + '-status-badge').removeClass().addClass('badge ' + badge_class).text('Status: ' + server.server_status);
                });
            }
            function update_logs (event)
            {
                var logs = JSON.parse (event.data);
                
                $('#logs').empty();
                for (var i = 0; i < logs.length; i++)
                {
                    var element = logs[i];
                    var listItem = $('<li></li>').addClass('list-group-item');
                    listItem.text(element);
                    $('#logs').append(listItem);
                }
            }

            var eventSource = new EventSource ('/stream_server_info_encoded');
            eventSource.addEventListener('message', update_server_info);
            var logEventSource = new EventSource ('/stream_all_server_logs');
            logEventSource.addEventListener('message', update_logs);
        });
    </script>
</head>
<body>
	{% include 'header.html' %}
    <div class="container" id="server-info-container">
        <ul class="list-group">
            {% for server_name, server_info in servers.items() %}
                <pre id="{{ server_info.server_name_encoded }}-pre">{{ server }}</pre>
                <li class="list-group-item d-flex justify-content-between align-items-center" id="{{ server_info.server_name_encoded }}-li">
                    <div>
                        <a href="{{ url_for('web_server_server_page', server_name=server_info.server_name) }}">
                            <strong id="{{ server_info.server_name_encoded }}-name-text">{{ server_info.server_name }}</strong>
                        </a>
                        <br>
                        Connected Players: <span id="{{ server_info.server_name_encoded }}-current-users">{{ server_info.current_users|length }}</span>
                    </div>
                    <div>
                        {% set badge_class = {
                            'Offline': 'bg-secondary',
                            'Crashed': 'bg-danger',
                            'Suspended': 'bg-info',
                            'Stopping': 'bg-warning',
                            'Waking': 'bg-info',
                            'Starting': 'bg-warning',
                            'Restarting': 'bg-warning',
                            'Idle': 'bg-secondary',
                            'Active': 'bg-success',
                            'Game Ended': 'bg-success',
                            'Game Starting': 'bg-success'
                        }[server_info.server_status] %}
                        <span class="badge {{ badge_class }}" id="{{ server_info.server_name_encoded }}-status-badge">Status: {{ server_info.server_status }}</span>
                        
                        <a href="{{ url_for('web_server_server_page', server_name=server_info.server_name) }}"
                        class="btn btn-primary btn-sm">View Details</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <br>
    </div>
    <div class="container">
        <h1 class="header_text_class">Logs</h1>

        <ul class="list-group" id="logs">
            {% for log in logs %}
                <li class="list-group-item">{{ log }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>