<!DOCTYPE html>
<html lang="en">
<head>
    <title>Server Logs</title>
    {% include 'head.html' %}

    <script>
        $(document).ready(function() {
            initPaginationPages();
        });
        function initPaginationPages () 
        {
            console.log ("Getting data time");
            actionURL = "/logs/get_max_pages"
            $.ajax ({
                url: actionURL,
                type: 'POST',
                contentType: 'application/json',
                success: function (response) {
                    console.log ("There are " + response + " pages");
                    setPaginationPages (response);
                },
                error: function (xhr, status, error) {
                    console.error (error);
                }
            });
        }
        function setPaginationPages (pages)
        {
            var page = parseInt ($("#page").text());
            if (pages < 5)
            {
                for (var i = 1; i <= pages; i++)
                {
                    var liElement = $('<li>').addClass('page-item');
                    var aElement = $('<a>').addClass('page-link').attr('href', '/logs/' + i).text(i);
                    liElement.append(aElement);
                    $('#page_selector').append(liElement);
                }
            }
            else
            {
                if (page < 3)
                {
                    for (var i = 1; i < page + 1; i++)
                    {
                        var liElement = $('<li>').addClass('page-item');
                        var aElement = $('<a>').addClass('page-link').attr('href', '/logs/' + i).text(i);
                        liElement.append(aElement);
                        $('#page_selector').append(liElement);
                    }
                }
                else
                {
                    if (pages - page < 3)
                    {
                        for (var i = page - 2; i < pages; i++)
                        {
                            var liElement = $('<li>').addClass('page-item');
                            var aElement = $('<a>').addClass('page-link').attr('href', '/logs/' + i).text(i);
                            liElement.append(aElement);
                            $('#page_selector').append(liElement);
                        }
                    }
                    else
                    {
                        for (var i = page - 2; i < page + 2; i++)
                        {
                            var liElement = $('<li>').addClass('page-item');
                            var aElement = $('<a>').addClass('page-link').attr('href', '/logs/' + i).text(i);
                            liElement.append(aElement);
                            $('#page_selector').append(liElement);
                        }
                    }
                }
            }
        }
    </script>
</head>d
<body>
    {% include 'header.html' %}

    <p style="display: none" id="page">{{ page }}</p>
    <div class="container">
        <h1>Logs</h1>

        <ul class="list-group" id="logs">
            {% for log in logs %}
                <li class="list-group-item">{{ log }}</li>
            {% endfor %}
        </ul>
        <nav aria-label="Page navigation example">
            <ul class="pagination" id="page_selector">
                <!--
              <li class="page-item"><a class="page-link" href="#">Previous</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
                -->
            </ul>
        </nav>
    </div>
</body>
</html>